<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/custom.css" type="text/css" />
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- JavaScript -->
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    {% block external %}
    {% endblock %}

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One|Monda' rel='stylesheet' type='text/css'>
    <!-- Fav and touch icons -->

    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

    <body>


    <!-- /navbar-->

      <div class="topbar">
       
       <ul class="nav nav-pills" id="nav" >

       <a href="/"><h1 id="heading">Accomplist  <small>"What's On Your List?"</small></h1></a>
                        
                    {% if user.is_authenticated %}
                            <li ><a href="/logout/">Logout</a></li>
                            <li ><a href="/save/">Settings</a></li>
                            <li ><a href="/user/{{ user.username }}/">My Profile</a></li>
                            <li ><a href="/save/">Create</a></li>
                            <li ><a href="/search/">Search</a></li>
                            
                    {% else %}
                            <li ><a href="/login/">Login</a></li>
                            <li ><a href="/register/">Sign Up</a></li>
                    {% endif %}
                            <li><a href="/popular/">Popular</a></li>
                            
        </ul>
    </div>
                  

<!-- /container -->
        <div class="container-fluid">
            

                
    <!-- /BLOCK CONTENT-->          

   
                  
                  
                  
     
                 
            
                {% block content %}
                  {% endblock %}      
    
        </div>
 	 

        
    
      

      <div class="footer">
        <p>&copy; Accomplist 2013</p>
      </div>

    </div> 

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>

  </body>
</html>
