{% extends "base.html" %}
{% load comments %}
{% block external %}
<title>Event:{{ shared_event.event.title }}</title>
{% endblock %}


{% block content %}

<div class="well">
    <table class="table table-condensed">
      <caption><h3></h3></caption>
        <thead>
            <tr>
              <th>Title</th>
              <th>User</th>
              <th></th>
              <th></th>
              <th>Votes</th>
            </tr>
        </thead>
    <tbody>
    

    <tr>
        <td><h5><a href="/events/{{ shared_event.id|urlencode }}" class="title">{{ shared_event.event.title }}</a></h5> </td>
        <td><h5><a href="/user/{{ shared_event.event.user.username }}/" class="username">{{ shared_event.event.user.username }}</a></h5></td>
           
        <td><h5><a href="/events/{{ shared_event.id }}/"><img id="conversation" src="/static/img/conversation.svg"/></a></h5></td>
         <td><h5><a href="/vote/?id={{ shared_event.id }}"class="vote"><img id="vote_arrow" src="/static/img/arrow.svg"/></a></h5></td>
        <td><h5 class="vote-count">{{ shared_event.votes }}</h5></td>
    </tr>
    
    
    </tbody>
</table>

<h5>{{ shared_event.event.description }}</h5>
<br>
  

 

<h2>Comments</h2>
{% get_comment_count for events.sharedevent shared_event.id as comment_count %}
{% get_comment_list for events.sharedevent shared_event.id as comment_list %}
{% for comment in comment_list %}
<div class="comment">
<p><b>{{ comment.user.username }}</b> said:</p>
{{ comment.comment|escape|linebreaks }}
</div>
{% endfor %}
<p>Number of comments: {{ comment_count }}</p>
{% render_comment_form for events.sharedevent shared_event.id %}
{% endblock %}