{% extends "base.html" %}
{% load comments %}
{% block external %}
<title>Event:{{ shared_event.event.title }}</title>
{% endblock %}


{% block content %}

<div class="well">
    <table class="table table-condensed">
      <caption><h3></h3></caption>
        <thead>
            <tr>
              <th>Title</th>
              <th>User</th>
              <th></th>
              <th></th>
              <th>Votes</th>
            </tr>
        </thead>
    <tbody>
    

    <tr>
        <td><h5><a href="/events/{{ shared_event.id|urlencode }}" class="title">{{ shared_event.event.title }}</a></h5> </td>
        <td><h5><a href="/user/{{ shared_event.event.user.username }}/" class="username">{{ shared_event.event.user.username }}</a></h5></td>
           
        <td><h5><a href="/events/{{ shared_event.id }}/"><img id="conversation" src="/static/img/conversation.svg"/></a></h5></td>
         <td><h5><a href="/vote/?id={{ shared_event.id }}"class="vote"><img id="vote_arrow" src="/static/img/arrow.svg"/></a></h5></td>
        <td><h5 class="vote-count">{{ shared_event.votes }}</h5></td>
    </tr>
    
    
    </tbody>
</table>

<h5>{{ shared_event.event.description }}</h5>
<br>
  

 

  <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'accomplist'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
    
{% endblock %}