{% extends "base.html" %}
            
 {% block content %}
<!--  {% if user.username %}
        <h3>Welcome {{ user.username }}! Here you can store and share the things you want to accomplish!</h3>
        {% else %}
        <h3>Welcome! You need to <a href="/login/">login</a> or <a href="/register"> register</a>before you can store and share your Accomplist!</h3>
        {% endif %} -->
    
        
    
       
     
 
          {% include "shared_event_list.html" %}
        


    
      




{% endblock %}
