{% extends "base.html" %}
{% block content %}

 {% load avatar_tags %}
    

  <div id="profile">
    {% csrf_token %}
     {% avatar username %}
    <a href="https://en.gravatar.com/site/login">Change your avatar</a>
    <h4>{{userprofile.firstName}} {{userprofile.lastName}} - "{{userprofile.tagline}}"</h4>
    <button class="btn btn-primary"><a id="add" href="/save/">Add Items</a></button>
     {% load inbox %}
    <h3>Messages: {% inbox_count %}</h3>
  </div>

  <h2 id="profiletitle">{{username}}'s Accomplist</h2>

{% if events %}

{% for event in events %}
<div id="event">
  <div class="well">
    
    <div class="title pull-left">
        <h5>{{ event.title }}</h5> 
    </div>

     
    
    <div class="tags">
    {% if show_tags %}
        <h5><ul>
      {% if event.tag_set.all %}
        {% for tag in event.tag_set.all %}
          <li>
            <a href="/tag/{{ tag.name|urlencode }}/">{{ tag.name }}</a>
          </li>
        {% endfor %}

      {% else %}
        None.
      {% endif %}
         </ul></h5>
    {% endif %}
    </div>
       
   

  <hr>

     <div class="description">
         <p>{{ event.description }}</p>

     </div>


     <div class="listbuttons">
          <button class="btn btn-danger"><a id="delete" href='/event/delete/{{event.id}}/'>Delete...</a></button>
          <button class="btn btn-success"><a id="accomplished">Accomplished!</a></button>
     </div>     
   
  <!--
  Live Edit for List Doesn't Work
  
  {% if show_edit %}
      <a href="/save/?url={{ event.title|urlencode }}" class="edit">[edit]</a>
    {% endif %} 
  -->
    
  </div>
 </div>
    {% endfor %}


   {% if show_paginator %}


  <div class="pagination">
    <ul>
  {% if has_prev %}
    <li><a href="?page={{ prev_page }}">&laquo; Previous</a></li>
  {% endif %}
  {% for page in page_range %}
    <li><a href="?page={{ page }}">{{ page }}</a></li>
  {% endfor %}
  {% if has_next %}
  <li><a href="?page={{ next_page }}">Next &raquo;</a></li>
  {% endif %}
    </ul>
    (Page {{ page }} of {{ pages }})
</div>
  {% endif %}
   

  {% else %}
  <p>No Lists found.</p>
  {% endif %}


 



        
{% endblock %}

